@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: black;
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 345px;
  height: 550px;
  border:  rgb(36, 112, 211) 5px solid;
}

.image {
  margin-bottom: 26px;
  border: 1px solid  rgb(36, 112, 211);
  height: 200px;
}

.title {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  font-family: "Karla";
  
}

.description {
  margin-top: 6px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Karla";
 
}



.links {
  list-style: none;
  font-size: 30px;
  list-style: none;
  text-align: center;
  display: block;
 
 
}

.link {
  text-decoration: none;
 
 
  
 
  padding: 10px 22px;
  border-radius: 10px;
  border: solid 1px  rgb(36, 112, 211);
  display: block;
  width: 100%;
  margin-top: 10px;
  color: white;
  font-size: 22px;
  font-weight: 100;
 
}

@media screen and (max-width: 830px) {
  .container{
    height: 100%;
  }
}