@import "../../vars.css";

.container {
  color: var(--color-text);
   
   min-height: 100vh;
   align-content: center;
   
  
}

.title {
  color: white;
  font-family: "Karla";
  font-weight: 900;

  font-size: 35px;

  letter-spacing: 1.75px;
  
  text-align: center;
}

.content {

  margin-top: 14px; 
  
}

.skills {
  display: flex;
  justify-content: center;
 gap: 30px; 
 padding: 10px 30px;
 
 
}

.skill {
  color: white;

 text-align: center;
 font-size: 12px;
}

.skillImageContainer {
  background-color: rgb(36, 112, 211);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.skillImageContainer img {
  width: 75px;
}

.skill p {
  font-size: 19px;
  font-family: var(--font-roboto);
  font-weight: 500;
  font-family: "Karla";
}

.history {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 10px;
  padding: 24px;
}
.skilltitle{
  color: black;
}

.historyItem img {
  width: 50px;
}

.historyItemDetails {
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  font-size: 30px;
  font-weight: 500;
}

.historyItemDetails p {
  font-size: 20px;
  font-weight: 300;
  
}

.historyItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 25px;
  list-style-type: disc;
  margin-left: 17px;
}

@media screen and (max-width: 870px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .skills {
    
    flex-direction: column;
    align-items: center;

   
  }

  .history {
    width: 100%;
    gap: 9px;
  }
}
@media (min-width: 912px) and (max-width: 1368px){
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .skills {
    
    flex-direction: column;
    align-items: center;

   
  }

  .history {
    width: 100%;
    gap: 9px;
  }

}