* {
  /* the border is coonsidered when calculating the width and the height of the object*/
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  font-family: "Poetsen One", sans-serif;
  
  scroll-behavior: smooth;

  
    border: 0;
    font-size: 100%;


  

}

html {
  scroll-behavior: smooth;
  
}