* {
  /* the border is coonsidered when calculating the width and the height of the object*/
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  font-family:  Arial, Helvetica, sans-serif;
  
  scroll-behavior: smooth;
  

}

html {
  scroll-behavior: smooth;
  
}