
@import "../../vars.css";

.container {
  
   min-height: 100vh;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 100px;
  align-content: center;
  
}

.title {
  color: white;

  font-size: 35px;
  font-family: "Karla";
  font-weight: 900;
  letter-spacing: 1.75px;
  text-align: center;
}

.projects {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
}